@{
    ViewBag.Title = "УПР:Лаки";
}


<div class="container">
    <div class="row">
        <div class="span12">
            <div class="stepmenu">
                <ul class="breadcrumb">
                    <li><a href="~/"><span title="Главная" class="icon  icon-home">​</span> Главная </a><span class="divider">/</span></li>
                    <li><a href="@Url.Content("~/Product/Catalog")"> Каталог товаров </a> <span class="divider">/</span></li>
                    <li class="active"> Лаки</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="span12">
            

            <div class="social-box">
                <div class="header"><span class="icon32  icon-arrowstop-e"></span>Лаки</div>
            </div>
        </div>

    </div>



</div>



<div class="container">

    <div class="row">
       
        <div class="projects">

            ​<div class="span6 element category01" data-category="category01">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:135px; height:135px;" src="~/Content/themes/img/catalog/no_image.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h2><a href="@Url.Content("~/Водные%20лаки")">Водные лаки</a></h2>
                    </div>
                </div>
            </div>

            <div class="span6 element category02" data-category="category02">
                <div class="thumbnail">
                    <div class="hover_img">
                        ​<img style="width:135px; height:135px;" src="~/Content/themes/img/catalog/no_image.jpg" alt="" />

                    </div>
                    <div class="item_description">

                        <h2><a href="@Url.Content("~/УФ%20лаки")">УФ лаки</a></h2>
                    </div>
                </div>
            </div>

            ​<div class="span6 element category03" data-category="category03">
                <div class="thumbnail">
                    <div class="hover_img">
                        <img style="width:135px; height:135px;" src="~/Content/themes/img/catalog/no_image.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h2><a href="@Url.Content("~/Маслянные%20офсетные%20лаки")">Маслянные офсетные лаки</a></h2>

                    </div>
                </div>
            </div>
            <div class="span6 element category04" data-category="category04">
                <div class="thumbnail">
                    <div class="hover_img">
                        ​<img style="width:135px; height:135px;" src="~/Content/themes/img/catalog/no_image.jpg" alt="" />

                    </div>
                    <div class="item_description">
                        <h2><a href="@Url.Content("~/Блистерные%20лаки")">Блистерные лаки</a></h2>

                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>
